/* Google Map Component Styles
===================================================================================================================== */

.googlemapcomponent {
  
  &.height-auto {
    
    div.content {
      
      position: relative;
      
      .google-map-wrapper {
        
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        
        .google-map {
          width: 100%;
          height: 100%;
          position: absolute;
        }
        
      }
      
    }
    
  }
  
}
